<!DOCTYPE html>
<html>
<head>
</head>
<body>
<link rel="stylesheet" href="../css/styles.css">

<h1>my about folder</h1>

<br>

<div>
    <a href="/help"> help</a>
</div>
<h1>My header is {{book}}</h1>


</body>
</html>